.card-group {
    content-visibility: hidden;
}

.card-group-visible {
    content-visibility: visible;
}

.float-start {
    position: right;
    content-visibility: hidden;
}

.search-history-visible {
    position: right;
    content-visibility: visible;
}

.list-group list-group-flush {
    list-style: none;
}

.navbar-brand {
    align-items: center;
    text-align: center;
}

#searchBtn {
    background-color: rgb(77, 185, 218);
}

#clear-history {
    background-color: rgb(102, 125, 133);
}